{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 255,
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "always"
}
